/* Colores ocupados en la página */
:root{
    --color1: #FFFFE0;
    --color2: #000000;
    --color3: #939392;
}
*{
    margin: 0px;
    padding: 0px;
}
/* Página Principal */
/* Menú [TODAS LAS PÁGINAS] */
.menu{
    color: var(--color1);
    z-index: 1;
    padding: 6px;
    background-color: var(--color2);
}
.menu_icon{
    color: var(--color1);
}
.menu_items{
    color: var(--color1)
}
.menuitembut:hover{
    color: var(--color3) ;
}
.menuitembut{
    transition: .6s;
}
.buscar_input{
    background-color: var(--color1);
}
.boton_buscar{
    color: var(--color1);
}
.boton_buscar:hover{
    background-color: var(--color1)
}
/* Carrousel */
.imagenes_carrousel{
    height: 650px;
}
/* Galería de fotos--------------------------- */
.galeria{
    background-color: var(--color2);
}
.galeria_titulo{
    padding: 70px 0px 20px 0px;
    font-size: 50px;
}
.imag_galeria{
    height: 400px;
    width: 400px;
    cursor: pointer;
    transition: .8s;
}
.imag_galeria:hover{
    transform: scale(1.05);
    transition: .8s;
    -webkit-box-shadow: 10px 0px 67px -11px var(--color1);
    -moz-box-shadow: 10px 0px 67px -11px var(--color1);
    box-shadow: 10px 0px 67px -11px var(--color1);
}
/* Contacto */
.contacto{
    padding: 70px 280px;
    background-image: url(../img/fondo_contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.textocontacto{
    font-size: 45px;
    margin-bottom: 40px;
}
.texto_contacto, .textocontacto{
    color: var(--color1);
}
.botonenviar{
    padding: 40px;
    text-align: center;
    padding-bottom: 120px;
}
.success{
    color: var(--color1);
    border: none;
    padding: 6px 55px;
    border-radius: 8px;
    background-color: var(--color2);
}
.success:hover{
    background-color: var(--color1);
    color: var(--color2);
    transition: .8s;
}
.campo_contacto{
    background-color: var(--color1);
}
/* Pié de página [TODAS LAS PÁGINAS]*/
.piepagina{
    text-align: center;
    padding: 100px;
    padding-bottom: 40px;
    background-color: var(--color2);
}
/* Páginas Producto Detalle */
/* Fondo y nombre del producto */
.fondo_producto{
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    background-size: cover;
    height: 38em;
} 
.producto_titulo{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 250px;
    text-align: center;
}
.producto_titulo_h1{
    color: var(--color1);
    font-size: 600%;
}
/* Descripción del producto */
.desc_producto{
    color: var(--color1);
    background-color: var(--color2);
    padding: 100px;
    font-size: 110%;
}
.foto_producto{
    border-radius: 10%;
}
.producto-desc-nombre{
    text-align: center;
    font-size: 200%;
    padding-bottom: 30px ;
}
/* Fotos de galería */
.galería_comp{
    background-color: var(--color2);
    padding-bottom: 50px;
}
.galeria{
    font-size: 280%;
    color: var(--color1);
    padding-bottom: 60px;
}
.imagen-producto-otros{
    height: 380px;
    width: 380px;
    border-radius: 5%;
    padding-bottom: 50px;
}
/* Página de Registro e Inicio de sesión */
.cuerpo_sesion{
    background-image: url(../img/fondo.jpg);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
}
.caja_sesion{
    color: white;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.boton_registrar{
    margin-top: 20px;
}



/* Responsive dispositivos pequeños - medios */
@media (max-width: 576px) {
    /* Menú */
    .menuicon{
        margin: 0px;
    }
    /* Carrousel, Página principal */
    .imagenes_carrousel{
        height: 300px;
    }
    /* Galeria de arte, Página principal */
    .galeria_titulo{
        font-size: 40px;
    }
    .imag_galeria{
        width: 7em;
        height: 7em;
    }
    /* Contacto, Página principal */
    .contacto{
        padding: 20px;
    }
    /* Fondo, Páginas de productos */
    .fondo_producto{
        height: 15em;
    }
    .producto_titulo{
        padding: 7em;
    }
    .producto_titulo_h1{
        text-align: center;
        font-size: 1em;
    }
    /* Descripción de productos, Página de productos */
    .desc_producto{
        padding: 50px;
    }
    .desc_producto_texto{
        font-size: 60%;
    }
    /* Fotos de la galería, Página de productos */
    .galeria{
        font-size: 180%;
    }
    .imagen-producto-otros{
        width: 12em;
        height: 12em;
    }
}
/* Pantallas entre pequeñas y grandes, para un encuadre específico */
@media (min-width: 576px) and (max-width:1300px){
    /* Contacto, Página principal */
    .contacto{
        padding: 20px;
    }
    /* Fondo, Páginas de productos */
    .fondo_producto{
        height: 600px;
    }
    .producto_titulo{
        padding: 280px;
    }
    .producto_titulo_h1{
        text-align: center;
        font-size: 1.6em;
    }
    /* Descripción de productos, Páginas de productos */
    .desc_producto{
        display: flex;
        font-size: 70%;
    }
    .foto_producto{
        height: 40em;
    }
    .desc_producto_texto{
        padding-left: 6em;
    }
    /* Galería de fotos, Páginas de productos */
    .imagen-producto-otros{
        height: 90%;
        width: 90%;
    }
}
/* Pantallas Grandes, display flex para encuadrado */
@media (min-width:1300px) {
    /* Fondo, Páginas de productos */
    .desc_producto{
        display: flex;
    }
}